html,body,div,p{
  margin: 0;
  padding: 0;
}
/* .siderContainer{
  position: fixed;
  top:0px;
  left: 0px;
  height: 100vh;
}
.ant-layout-sider{
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  background: #001529;
  height: 100%;
} */
.logo {
  width:64px;
  height:64px;
  animation:logo-spin infinite 20s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  color: #fff;
  font-size: 20px;
}

.spin{
  width:200px;
  height: 200px;
  margin-top:-100px;
  margin-left: -100px;
  position: absolute;
  left: 50%;
  top: 50%;
}

.userInfo{
  color: #fff;
  font-size: 16px;
  position: absolute;
  right:0px;
}
.logout{
  display: inline-block;
  width: 80px;
  cursor: pointer;
  margin-left:20px;
}
.ContentContainer{
  padding-left: 300px;
  margin-top: 100px;
}